* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #e9e5df;
}

a {
  text-decoration: none;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
  background-color: #fff;
  color: #111;
}

.css-xdmu94-MuiContainer-root{
  padding-left: 30px;
  padding-right: 15px;
}

.css-96uuyl:hover {
  background-color: rgba(211, 211, 211, 0.559);
}

.css-96uuyl{
  border-radius: 20px;
  border: 1px solid lightgray;
}

.css-nacmnc-MuiGrid-root{
  min-height: 5vw;
}

.css-8setip-MuiGrid-root{
  width: -webkit-fill-available;
}

h1 ,h2, h3, h4, h5, h6, a, p {
  line-break: anywhere;
}

.comp::-webkit-scrollbar {
  display: none;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  background-color: transparent;
  border-radius: 15px;
  box-shadow: -3px 3px 3px 1px rgb(0 0 0 / 20%), 1px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.css-132a6sb-MuiTableCell-root , .css-1bhpkcd-MuiTableCell-root{
  color: #fff;
}

.css-1wc848c-MuiFormHelperText-root{
  font-size: 10px;
  font-weight: 900;
}

.css-1qvr50w-MuiTypography-root{
  font-size: 13px;
  font-weight: 900;
}

.workerList{
  background: #fff;
  color: #000;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
  width: 90%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: -3px 3px 3px 1px rgb(0 0 0 / 20%), 1px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.workerList:active{
  box-shadow: inset 0 0 10px #fff;
  background: rgba(17, 17, 17, 0.922);
  color: #fff;
}

.file-upload {
	position: relative;
	display: inline-block;
}

.file-upload__label {
  display: block;
  width: 20px;
  margin-left: -6px;
  height: 25px;
}
    
.file-upload__input {
    position: absolute;
    opacity: 0;
    width: 27px;
    margin: -19px;
}

.swal-wide{
  width:300px !important;
  font-size: 13px !important;
}